*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/img/M2/capa-full.jpg)  top center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: min(100vw, 360px);
    margin: auto;
    padding: 0px 15px;
}

.imga img{
    width: 140px;
    filter: invert(100%);
}

/*Início perfil*/
.profile{
    text-align: center;
    padding: 18px 24px;
    font-size: 25px;
}
.profile img{
    width: 170px;
}
.profile p{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
}
/*Fim perfil*/

/*Início links*/
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px;
}
.img-icon img{
    width: 25px;
    margin-right: 15px;
}

ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 95px;
    

    color: #fff;
    background: rgba(0, 0, 0, 0.911);
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.44);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: background 1s ;

    font-weight: 500;
    font-size: 20px;
}

ul li a:hover{
    background: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(100vh);
    text-decoration: underline;
}
/*Fim links*/
@media only screen and (max-width: 767px){
    body{
        background: url(assets/img/M2/capa-T-C.jpg) no-repeat top center/cover;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1040px){
    body{
        background: url(assets/img/M2/capa-T-C.jpg) center/cover;
    }
    .profile p{
        font-size: 4rem;
        margin: 45px 0;
    }
    .imga img{
        width: 180px;
    }
    ul{
        gap: 1.5rem;
    }
    ul li a{
        font-size: 3rem;
        padding: 1rem 7rem;
    }
    .img-icon img{
        width: 35px;
        margin-right: 25px;
    }
}